<h1>Items#index</h1>
<p>Find me in app/views/items/index.html.erb</p>
<%= form_tag(action: :pay, method: :post) do %>
  <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_4d255221d772d3b51dd14284">
<% end %>
